version: '3.8'

services:
  # Serviço da Aplicação Spring Boot
  app:
    build: .  # Constrói a imagem a partir do Dockerfile local
    ports:
      - "8080:8080" # Mapeia a porta do host para o container
    networks:
      - app-net
    depends_on:
      - mongo-db  # Garante que o banco de dados inicie antes da aplicação
    environment:
      # Passa a URI de conexão do MongoDB, usando variáveis do .env
      # A string de conexão usa os nomes de serviço do Docker (mongo-db)
      - SPRING_DATA_MONGODB_URI=mongodb://${MONGO_USER}:${MONGO_PASS}@mongo-db:27017/${MONGO_DB_NAME}?authSource=admin

  # Serviço do Banco de Dados MongoDB
  mongo-db:
    image: mongo:latest
    ports:
      - "27017:27017" # Permite conectar ao DB localmente (ex: com MongoDB Compass)
    networks:
      - app-net
    volumes:
      - mongo-data:/data/db # Volume nomeado para persistência dos dados
      # Monta o script de inicialização para criar o usuário da aplicação
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    environment:
      # Credenciais do usuário ROOT (necessário para o script de init)
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASS}
      # Credenciais do usuário da aplicação (passadas para o script init-mongo.js)
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_DB_NAME=${MONGO_DB_NAME}

# Rede customizada para comunicação isolada
networks:
  app-net:
    driver: bridge

# Volume nomeado para persistência do MongoDB
volumes:
  mongo-data: