name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # Job 1: Testes (CI)
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Run Tests
      run: ./mvnw clean test

  # Job 2: Build e Push Docker
  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Build JAR
      run: ./mvnw clean package -DskipTests
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and Push Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/itens-app:${{ github.sha }} .
        docker push ${{ secrets.DOCKER_USERNAME }}/itens-app:${{ github.sha }}

  # Job 3: Provisionar Infraestrutura (Terraform)
  # Job 3: Provisionar Infraestrutura (Terraform)
  provision-infra:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      droplet_ip: ${{ steps.get_ip.outputs.ip }}
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Terraform Init
        working-directory: ./terraform
        run: |
          terraform init \
            -backend-config="access_key=${{ secrets.TF_STATE_ACCESS_KEY }}" \
            -backend-config="secret_key=${{ secrets.TF_STATE_SECRET_KEY }}"

      - name: Terraform Apply
        working-directory: ./terraform
        env:
          TF_VAR_do_token: ${{ secrets.DO_TOKEN }}
          # Aponta para o arquivo .pub que será gerado abaixo
          TF_VAR_ssh_key_path: "id_rsa.pub"
        run: |
          # CORREÇÃO: Removemos a extensão .pub do comando -f
          # Isso cria 'id_rsa' (privada) e 'id_rsa.pub' (pública) corretamente
          ssh-keygen -t rsa -b 4096 -f id_rsa -N ""
          
          terraform apply -auto-approve

      - name: Get Droplet IP
        id: get_ip
        working-directory: ./terraform
        run: |
          IP=$(terraform output -raw droplet_ip)
          echo "ip=$IP" >> $GITHUB_OUTPUT